block variables
doctype html
html(lang="en")
  head
    title= title? title: "Gas leak detector"
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")

    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/icon.png")
    link(rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/templatemo-sixteen.css")
    link(rel="stylesheet" href="/stylesheets/owl.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="/javascripts/bootstrap/bootstrap.bundle.min.js" ) 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous")
  body
    header
      nav.navbar.navbar-expand-lg
        .container
          a.navbar-brand.d-flex.justify-content-center(href="/")
            img(src="/images/logo.png" style="object-fit: fill; max-height: 10vh;" alt="logo")
            .d-flex.align-items-center
              h2
                |Hệ thống phát hiện 
                em rò rỉ khí Gas          
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              if user
                li.nav-item.active
                a.nav-link(href="/device/dashboard")
                  | Thiết bị
                li.nav-item
                  a.nav-link(href="#")
                    span=user.name
                li.nav-item 
                  a.nav-link(href="/api-doc") API
                li.nav-item
                  form#logout-form.form-inline(method="post", action="/users/logout")
                    a.nav-link(onclick='$("#logout-form").submit()')  Đăng xuất 
              else
                li.nav-item.active
                  a.nav-link(href="/index")
                    | Trang chủ
                    span.sr-only (current)
                li.nav-item
                  a.nav-link(href="/users/signup") Đăng ký
                li.nav-item
                  a.nav-link(href="/users/login") Đăng nhập
                li.nav-item
                  a.nav-link(href="/contact") Về chúng tôi 
    
    block content

    footer
      .container
        .row
          .col-md-12
            .inner-content
              p
                | Copyright &copy; 2021 HCMUT
  script(src="/javascripts/custom.js")
  script(src="/javascripts/owl.js")
  script(src="/javascripts/slick.js")
  script(src="/javascripts/isotope.js")
  script(src="/javascripts/accordions.js")
