extend layout

block variables 
  -var title="Thông tin"

block content
  // ***** Preloader Start *****
  #preloader
    .jumper
      div
      div
      div
  // ***** Preloader End *****

  // Page Content
  .page-heading.about-heading.header-text
    .container
      .row
        .col-md-12
          .text-content
            h4 về chúng tôi
            h2 Nhóm 9 - L03 - HCMUT
  .best-features.about-features
    .container
      .row
        .col-md-12
          .section-heading
            h2 Chúng tôi là
        .col-md-6
          .right-image
            img(src='assets/images/feature-image.jpg' alt='')
        .col-md-6
          .left-content
            h4 Chúng tôi là ai?
            p Chúng tôi là sinh viên năm 3 ngành khoa học máy tính trường đại học Bách Khoa
  .team-members
    .container
      .row
        .col-md-12
          .section-heading
            h2 Our Team Members
        .col-md-4
          .team-member
            .thumb-container
              //- img(src='assets/images/team_01.jpg' alt='')
              .hover-effect
                .hover-content
                  ul.social-icons
                    li
                      a(href='https://www.facebook.com/HGKhang/')
                        i.fa.fa-facebook
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    li
                      a(href='#')
                        i.fa.fa-behance
            .down-content
              h4 Hoàng Gia Khang
              span Thành viên
              p Sinh viên năm 3 - HCMUT
        .col-md-4
          .team-member
            .thumb-container
              //- img(src='assets/images/team_01.jpg' alt='')
              .hover-effect
                .hover-content
                  ul.social-icons
                    li
                      a(href='https://www.facebook.com/HGKhang/')
                        i.fa.fa-facebook
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    li
                      a(href='#')
                        i.fa.fa-behance
            .down-content
              h4 Giang Văn Lực
              span Thành viên
              p Sinh viên năm 3 - HCMUT
        
        .col-md-4
          .team-member
            .thumb-container
              //- img(src='assets/images/team_01.jpg' alt='')
              .hover-effect
                .hover-content
                  ul.social-icons
                    li
                      a(href='https://www.facebook.com/HGKhang/')
                        i.fa.fa-facebook
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    li
                      a(href='#')
                        i.fa.fa-behance
            .down-content
              h4 Nguyễn Khiêm
              span Thành viên
              p Sinh viên năm 3 - HCMUT
        .col-md-4
          .team-member
            .thumb-container
              //- img(src='assets/images/team_01.jpg' alt='')
              .hover-effect
                .hover-content
                  ul.social-icons
                    li
                      a(href='https://www.facebook.com/HGKhang/')
                        i.fa.fa-facebook
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    li
                      a(href='#')
                        i.fa.fa-behance
            .down-content
              h4 Nguyễn Thị Xuân Mai
              span Thành viên
              p Sinh viên năm 3 - HCMUT
        .col-md-4
          .team-member
            .thumb-container
              //- img(src='assets/images/team_01.jpg' alt='')
              .hover-effect
                .hover-content
                  ul.social-icons
                    li
                      a(href='https://www.facebook.com/HGKhang/')
                        i.fa.fa-facebook
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    li
                      a(href='#')
                        i.fa.fa-behance
            .down-content
              h4 Nguyễn Thị Linh
              span Thành viên
              p Sinh viên năm 3 - HCMUT
          
          