doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap' rel='stylesheet')
  title Sixteen Clothing - About Page
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  //
    TemplateMo 546 Sixteen Clothing
    https://templatemo.com/tm-546-sixteen-clothing
  // Additional CSS Files
  link(rel='stylesheet' href='assets/css/fontawesome.css')
  link(rel='stylesheet' href='assets/css/templatemo-sixteen.css')
  link(rel='stylesheet' href='assets/css/owl.css')
// ***** Preloader Start *****
#preloader
  .jumper
    div
    div
    div
// ***** Preloader End *****
// Header
header
  nav.navbar.navbar-expand-lg
    .container
      a.navbar-brand(href='index')
        h2
          | Sixteen 
          em Clothing
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='index')
              | Trang ch&#x1EE7;
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='signup') &Dstrok;&abreve;ng K&yacute;
          li.nav-item
            a.nav-link(href='login') &Dstrok;&abreve;ng Nh&#x1EAD;p
          li.nav-item.active
            a.nav-link(href='contact') V&#x1EC1; ch&uacute;ng t&ocirc;i
// Page Content
.page-heading.about-heading.header-text
  .container
    .row
      .col-md-12
        .text-content
          h4 about us
          h2 our company
.best-features.about-features
  .container
    .row
      .col-md-12
        .section-heading
          h2 Our Background
      .col-md-6
        .right-image
          img(src='assets/images/feature-image.jpg' alt='')
      .col-md-6
        .left-content
          h4 Who we are &amp; What we do?
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
            | voluptate nihil eum consectetur similique? Consectetur, quod,
            | incidunt, harum nisi dolores delectus reprehenderit voluptatem
            | perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum
            | dolor sit amet, consectetur adipisicing elit.
            br
            br
            | Lorem
            |                 ipsum dolor sit amet, consectetur adipisicing elit. Et,
            |                 consequuntur, modi mollitia corporis ipsa voluptate corrupti eum
            |                 ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti
            |                 necessitatibus perspiciatis quis.
          ul.social-icons
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-linkedin
            li
              a(href='#')
                i.fa.fa-behance
.team-members
  .container
    .row
      .col-md-12
        .section-heading
          h2 Our Team Members
      .col-md-4
        .team-member
          .thumb-container
            img(src='assets/images/team_01.jpg' alt='')
            .hover-effect
              .hover-content
                ul.social-icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-behance
          .down-content
            h4 Johnny William
            span CO-Founder
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing itaque
              | corporis nulla.
      .col-md-4
        .team-member
          .thumb-container
            img(src='assets/images/team_02.jpg' alt='')
            .hover-effect
              .hover-content
                ul.social-icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-behance
          .down-content
            h4 Karry Pitcher
            span Product Expert
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing itaque
              | corporis nulla.
      .col-md-4
        .team-member
          .thumb-container
            img(src='assets/images/team_03.jpg' alt='')
            .hover-effect
              .hover-content
                ul.social-icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-behance
          .down-content
            h4 Michael Soft
            span Chief Marketing
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing itaque
              | corporis nulla.
      .col-md-4
        .team-member
          .thumb-container
            img(src='assets/images/team_04.jpg' alt='')
            .hover-effect
              .hover-content
                ul.social-icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-behance
          .down-content
            h4 Mary Cool
            span Product Specialist
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing itaque
              | corporis nulla.
      .col-md-4
        .team-member
          .thumb-container
            img(src='assets/images/team_05.jpg' alt='')
            .hover-effect
              .hover-content
                ul.social-icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-behance
          .down-content
            h4 George Walker
            span Product Photographer
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing itaque
              | corporis nulla.
      .col-md-4
        .team-member
          .thumb-container
            img(src='assets/images/team_06.jpg' alt='')
            .hover-effect
              .hover-content
                ul.social-icons
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-behance
          .down-content
            h4 Kate Town
            span General Manager
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing itaque
              | corporis nulla.
.services
  .container
    .row
      .col-md-4
        .service-item
          .icon
            i.fa.fa-gear
          .down-content
            h4 Product Management
            p
              | Lorem ipsum dolor sit amet, consectetur an adipisicing elit.
              | Itaque, corporis nulla at quia quaerat.
            a.filled-button(href='#') Read More
      .col-md-4
        .service-item
          .icon
            i.fa.fa-gear
          .down-content
            h4 Customer Relations
            p
              | Lorem ipsum dolor sit amet, consectetur an adipisicing elit.
              | Itaque, corporis nulla at quia quaerat.
            a.filled-button(href='#') Details
      .col-md-4
        .service-item
          .icon
            i.fa.fa-gear
          .down-content
            h4 Global Collection
            p
              | Lorem ipsum dolor sit amet, consectetur an adipisicing elit.
              | Itaque, corporis nulla at quia quaerat.
            a.filled-button(href='#') Read More
.happy-clients
  .container
    .row
      .col-md-12
        .section-heading
          h2 Happy Partners
      .col-md-12
        .owl-clients.owl-carousel
          .client-item
            img(src='assets/images/client-01.png' alt='1')
          .client-item
            img(src='assets/images/client-01.png' alt='2')
          .client-item
            img(src='assets/images/client-01.png' alt='3')
          .client-item
            img(src='assets/images/client-01.png' alt='4')
          .client-item
            img(src='assets/images/client-01.png' alt='5')
          .client-item
            img(src='assets/images/client-01.png' alt='6')
footer
  .container
    .row
      .col-md-12
        .inner-content
          p
            | Copyright &copy; 2020 Sixteen Clothing Co., Ltd. - Design:
            a(rel='nofollow noopener' href='https://templatemo.com' target='_blank') TemplateMo
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Additional Scripts
script(src='assets/js/custom.js')
script(src='assets/js/owl.js')
script(src='assets/js/slick.js')
script(src='assets/js/isotope.js')
script(src='assets/js/accordions.js')
script(language='text/Javascript').
  cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
  function clearField(t) {
  //declaring the array outside of the
  if (!cleared[t.id]) {
  // function makes it static and global
  cleared[t.id] = 1; // you could use true and false, but that's more typing
  t.value = ""; // with more chance of typos
  t.style.color = "#fff";
  }
  }
