extend layout 

block variables 
  -var title="Đăng nhập"

block content
  link(rel="stylesheet" href="assets/css/style.css")
  #preloader
    .jumper
      div
      div
      div
  // ***** Preloader End *****
  .d-flex.justify-content-center.mt-3
    form#login-form.w-50
      h3.heading Đăng nhập vào hệ thống
      .d-flex.justify-content-center
        h4#text-error.text-danger
      .form-group
        label.form-lable(for="email") Email
        input.form-control#email(name="email" type="text" placeholder="Email của bạn")
        span.form-message
      .form-group
        label.form-lable(for="password") M&#x1EAD;t kh&#x1EA9;u
        input.form-control#password(name="password" type="password" placeholder="Nhập mật khẩu")
        span.form-message
      .d-flex.justify-content-center
        button.btn.btn-success(type="button", onclick="login()") Đăng nhập
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="assets/js/validator.js")
  script(src="assets/js/login.js")
