doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap' rel='stylesheet')
  title HCMUT
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  //
    TemplateMo 546 Sixteen Clothing
    https://templatemo.com/tm-546-sixteen-clothing
  // Additional CSS Files
  link(rel='stylesheet' href='assets/css/fontawesome.css')
  link(rel='stylesheet' href='assets/css/templatemo-sixteen.css')
  link(rel='stylesheet' href='assets/css/owl.css')
  link(rel='stylesheet' href='assets/css/style.css')
// ***** Preloader Start *****
#preloader
  .jumper
    div
    div
    div
// ***** Preloader End *****
// Header
header.header
  nav.navbar.navbar-expand-lg
    .container
      a.navbar-brand(href='index')
        h2
          |Hệ thống phát hiện 
          em rò rỉ khí Gas
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          if user
            li.nav-item.active
            a.nav-link(href='feed')
              | Thiết bị
            li.nav-item
              a.nav-link(href='#')
                span=user.name
            li.nav-item
              a.nav-link(href='logout')  &Dstrok;&abreve;ng xu&#x1EA5;t
          else
            li.nav-item
              a.nav-link(href='index')
                | Trang ch&#x1EE7;
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href='signup') &Dstrok;&abreve;ng k&yacute;
            li.nav-item
              a.nav-link(href='login') &Dstrok;&abreve;ng nh&#x1EAD;p
            li.nav-item
              a.nav-link(href='contact') V&#x1EC1; ch&uacute;ng t&ocirc;i
.main.mgt
  form#register-form.form(action='' method='POST')
    h3.heading Th&agrave;nh vi&ecirc;n &dstrok;&abreve;ng k&yacute;
    .spacer
    .form-group
      label.form-lable(for='fullname') T&ecirc;n &dstrok;&#x1EA7;y &dstrok;&#x1EE7;
      input#fullname(name='fullname' rules='required' type='text' placeholder='VD: Hoàng Gia Khang')
      span.form-message
    .form-group
      label.form-lable(for='avatar') &#x1EA2;nh &dstrok;&#x1EA1;i di&#x1EC7;n
      input#avatar(name='avatar' type='file')
      span.form-message
    .form-group
      label.form-lable(for='email') Email
      input#email(name='email' rules='required|email' type='text' placeholder='VD: khangsk1998@gmail.com')
      span.form-message
    .form-group
      label.form-lable(for='password') M&#x1EAD;t kh&#x1EA9;u
      input#password(name='password' rules='required|min:6' type='password' placeholder='Nhập mật khẩu')
      span.form-message
    .form-group
      label.form-lable(for='password_confirmation') Nh&#x1EAD;p l&#x1EA1;i m&#x1EAD;t kh&#x1EA9;u
      input#password_confirmation(name='password_confirmation' rules='required|min:6' type='password' placeholder='Nhập lại mật khẩu')
      span.form-message
    button.form-submit &Dstrok;&abreve;ng k&yacute;
script(src="https://unpkg.com/axios/dist/axios.min.js")
script(src='assets/js/Validator.js')
script(src='assets/js/signup.js')
  
footer
  .container
    .row
      .col-md-12
        .inner-content
          p
            | Copyright &copy; 2020 HCMUT
|     Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Additional Scripts
script(src='assets/js/custom.js')
script(src='assets/js/owl.js')
script(src='assets/js/slick.js')
script(src='assets/js/isotope.js')
script(src='assets/js/accordions.js')
script(src='assets/js/logout.js')
script(language='text/Javascript').
  cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
  function clearField(t) {
  //declaring the array outside of the
  if (!cleared[t.id]) {
  // function makes it static and global
  cleared[t.id] = 1; // you could use true and false, but that's more typing
  t.value = ""; // with more chance of typos
  t.style.color = "#fff";
  }
  }
