extends ../_layout

block variables 
  -var title="Đăng ký"

block content
  #preloader
    .jumper
      div
    div
      div
  // ***** Preloader End *****
  .d-flex.justify-content-center.mt-3
    form.form#register-form.w-50
      h3.heading Thông tin đăng ký
      .d-flex.justify-content-center
        h4#text-error.text-danger
      .form-group
        label(for="fullname") Tên người dùng
        input.form-control#full-name(name="fullname" rules="required" type="text" placeholder="Tên đầy đủ")
        span.form-message
      .form-group
        label(for="email") Email
        input.form-control#email(name="email" rules="required|email" type="text" placeholder="user@gmail.com")
        span.form-message
      .form-group
        label(for="password") Mật khẩu
        input.form-control#password(name="password" rules="required|min:6" type="password" placeholder="Nhập mật khẩu")
        span.form-message
      .form-group
        label(for="password_confirmation") Xác nhận mật khẩu
        input.form-control#password-confirmation(rules="required|min:6" type="password" placeholder="Xác nhận mật khẩu")
        span.form-message
      .d-flex.justify-content-center
        button.btn.btn-success(type="button", onclick="signup()") Đăng ký
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="/javascripts/signup.js")
